.item {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

img {
  width: 115px !important;
  height: 105px !important;
  object-fit: cover;
  border: 1px solid #cdcccc;
}

.words {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 18px;
}

#discount {
  color: #cdcccc;
  font-size: 13px;
  margin-top: 8px;
}